.App {
  height: 100vh;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-header {
  background-color: mediumpurple;
  padding: 20px;
  color: white;
}

.App-section {
  height: 200px;
  width: 50%;
  margin: 20px auto;
  border: solid 1px grey;
}

.App-section-header {
  color: black;
  height: 25px;
  background-color: white;
  border-bottom: solid 1px grey;
  font-weight: bold;

  transition: font ease 2s;
}

.App-section-header:hover {
  /*font-size: 24px;*/
  font-weight: normal;
}

.App-section-body {
  color: blue;
}

.App-section-body.calc {
  color: unset;
  background-color: aquamarine;
  /*height: 100%;*/
  height: calc(100% - 25px);
}

.App-section-body.empty {
  height: calc(100% - 25px);
}

.App-section-body.empty:empty {
  background-color: palevioletred;
}

div:not(.App-section-header) {
  /*color: pink;*/
}

.App-section-item {
  width: 100%;
  margin: 5px auto;
  background-color: cadetblue;
}

.App-section-item.float {
  float: left;
}
.App-section-item.inline {
  display: inline-block;
}

li:first-of-type {
  background-color: yellow;
}

li:nth-of-type(4) {
  background-color: green;
}

li:last-of-type {
  background-color: blue;
  color: white;
}